.mail-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 20px;
}
  
.mail-container .card-container {
  display: grid;
  gap: 1.5rem;
}
  
.mail-container .data-card {
  display: flex;
  width: 70rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: inherit;
}
  
.mail-container .data-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
  
.mail-container .mail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
  
.mail-container .mail img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}
  
.mail-container .mail-text {
  display: inline-block;
  width: calc(100% - 120px);
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
}
  