.body-content {
    display: grid;
    height: 100vh;
    width: 80vw;
    background: var(--dashboard);
    overflow: auto;
}

.body-content > * {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.body-content .ads-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 1rem;
    background: none;
}

.body-content .ads-container .card-container{
    display: grid;
    gap: 1rem;
}

.body-content .ads-container .data-card{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    transition: 0.3s;
}

.body-content .ads-container .data-card:hover{
    background: var(--dashboard);
    transition: 0.3s;
}

.body-content .ads-container .data-card img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
}

.body-content .ads-container .data-card .word{
    padding-inline: 20px;
}

.body-content .ads-container .data-card label{
    font-size: 20px;
    font-weight: bold;
    color: var(--main);
}