.container-head {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #1D1D1D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tools {
    display: flex;
    gap: 1rem;
}

.tool-btn {
    cursor: pointer;
    padding: 8px;
    background: transparent;
    border: none;
    transition: background 0.3s, transform 0.2s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-btn img {
    width: 24px;
}

.tool-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.tool-btn.active {
    background-color: #007BFF;
    border: 2px solid white;
    transform: scale(1.2);
}
