@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

:root {
    --white: white;
    --main: #333333;
    --second: #02A6BC;
    --third: #87f3f3;
    --background: #A0A0A0;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.about-container{
    background: black;
}