.header-ctn .direct {
    background-color: var(--blue);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-ctn .privacy {
    background: var(--orange);
}

.header-ctn .direct:hover {
    background-color: var(--light-gray);
}