@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

<<<<<<< HEAD
.logo-container h2 {
    font-family: "Lilita One", sans-serif;
    font-size: 36px; /* Smaller initial font size */
    font-weight: bold;
    color: var(--blue);
    margin: 0;
    padding: 5px 10px; /* Add some padding */
    transition: font-size 0.3s, padding 0.3s; /* Smooth transition on resize */
=======
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container h2 {
    font-family: "Lilita One", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: var(--blue);
    margin: 0;
    padding: 5px 10px;
    transition: font-size 0.3s, padding 0.3s;
}

.logo-container img {
    width: 35px;
>>>>>>> 2d1682f (design)
}

/* Medium screens */
@media (max-width: 768px) {
    .logo-container h2 {
<<<<<<< HEAD
        font-size: 32px; /* Adjusted font size for smaller screens */
=======
        font-size: 32px;
>>>>>>> 2d1682f (design)
        padding: 4px 8px;
    }
}

<<<<<<< HEAD
/* Small screens */
@media (max-width: 480px) {
    .logo-container h2 {
        font-size: 28px; /* Smaller font size for mobile */
        padding: 3px 6px;
    }
}
=======
@media (max-width: 480px) {
    .logo-container h2 {
        font-size: 28px;
        padding: 3px 6px;
    }

    .logo-container img {
        width: 30px;
    }
}
>>>>>>> 2d1682f (design)
