.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.search-container .container {
    background: var(--white);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
}

.search-container .input-ctn {
    position: relative;
    width: 100%;
}

.search-container .input-ctn .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    opacity: 0.5;
}

.search-container input {
    padding: 12px 8px 12px 50px;
    width: 100%;
    font-size: medium;
    border: 1px solid var(--background);
    border-radius: 5px;
}

.search-container button {
    background: var(--dark);
    color: var(--white);
    font-weight: 300;
    font-size: large;
    padding: 7px 8px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background: var(--blue);
}

@media (min-width: 600px) {
    .search-container {
        margin-top: 150px;
    }

    .search-container .container {
        flex-direction: row;
        padding: 30px;
        padding-inline: 50px;
    }

    .search-container input {
        width: 300px;
    }

}

@media (min-width: 900px) {
    .search-container {
        margin-top: 200px;
    }

    .search-container .container {
        max-width: 600px;
    }

    .search-container input {
        width: 350px;
    }
}
