@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

:root {
    --white: white;
    --main: #333333;
    --second: #02A6BC;
    --third: #87f3f3;
    --background: #A0A0A0;
    --dashboard: #F3F6F9;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.dash-header-ctn {
    padding: 20px;
}

.dash-header-ctn header {
    background: var(--dashboard);
    padding: 1rem 0;
    border-radius: 10px;
}

.dash-header-ctn .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
}

.dash-header-ctn .nav-links {
    display: flex;
    gap: 1.5rem;
    background: var(--light-gray);
    padding: 15px;
    border-radius: 20px;
}

.dash-header-ctn .nav-links a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark);
    transition: color 0.3s;
    
}

.dash-header-ctn .nav-links a:hover {
    color: var(--blue);
}

.dash-header-ctn .user {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--white);
    padding: 15px;
    border-radius: 30px;
}

.menu-toggle {
    display: none;
    z-index: 1000; /* Ensures toggle is on top */
}

.menu-toggle img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .dash-header-ctn .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--white);
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 500;
    }

    .dash-header-ctn .nav-links.open {
        display: flex;
    }

    .dash-header-ctn .user {
        flex-direction: column;
        gap: 0;
    }

    .dash-header-ctn .user a {
        margin-top: 10px;
    }

    .menu-toggle {
        display: block;
    }
}