.ad-preview-container-modern {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
  text-align: center;
}

.title-modern {
  font-size: 1.8rem;
  color: var(--dark);
  margin-bottom: 20px;
}

.ad-template-container-modern {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.ad-template-modern img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.proceed-button-modern {
  background-color: var(--blue);
  color: var(--blue);
  padding: 12px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.proceed-button-modern:hover {
  background-color: var(--orange);
}

.payment-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-modal-modern {
  background-color: var(--white);
  border-radius: 16px;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  text-align: left;
  position: relative;
}

.close-modal-button-modern {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--dark);
  position: absolute;
  top: 10px;   /* Positioned at the top */
  right: 10px; /* Positioned at the right side */
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.close-modal-button-modern:hover {
  color: var(--orange); /* Red hover effect */
}

.payment-modal-modern h2 {
  font-size: 1.5rem;
  color: var(--dark);
  margin-bottom: 20px;
}

.input-field-modern {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--light-gray);
  border-radius: 12px;
  background-color: var(--white);
}

.currency-amount-wrapper-modern {
  display: flex;
  gap: 10px;
}

.currency-input-modern,
.amount-input-modern {
  flex: 1;
}

.publish-button-modern {
  background-color: var(--orange);
  color: var(--white);
  padding: 12px;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  width: 100%;
}

.publish-button-modern:hover {
  background-color: var(--blue);
}

.error-modern {
  color: var(--error-color);
  font-size: 0.9rem;
  margin-bottom: 10px;
}
